# 忽略编译输出文件夹
/build/
build/
/cmake-build-*/
.qtcreator
.qtcreator/
.lingma
.lingma/
.workbuddy
.workbuddy/
# Qt 生成文件
ui_*.h
qrc_*.cpp
moc_*.cpp
*.o
*.autosave

# 构建文件
Makefile
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
cmake_install.cmake
install_manifest.txt

# 可执行文件
*.exe
*.dll
*.so
*.dylib